.__DEV-PAGE__INDEX---main {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.__DEV-PAGE__INDEX---hader {
    height: 20%;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    h1, h2, h3, h4, h5, h6 {
        margin: 0 auto;
        text-align: center;
        line-height: 1;
    }
}